html {
    cursor: none;
}

body {
    background-color: #000000 !important;
    color: #404040;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

@-webkit-keyframes rotate {
	/*
  from {
    -webkit-transform: rotate(0deg);
    -webkit-opacity: 0.0;
  }
  to { 
    -webkit-transform: rotate(360deg);
    -webkit-opacity: 1.0;
  }
  */

	0%   {-webkit-opacity: 0.0;-webkit-transform: rotate(0deg);}
	20%  {-webkit-opacity: 0.3;-webkit-transform: rotate(72deg);}
	40%  {-webkit-opacity: 0.5;-webkit-transform: rotate(144deg);}
	60%  {-webkit-opacity: 0.5;-webkit-transform: rotate(216deg);}
	80%  {-webkit-opacity: 0.3;-webkit-transform: rotate(288deg);}
	100% {-webkit-opacity: 0.0;-webkit-transform: rotate(359deg);}
}

img.star
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
